body {
    background: #e9edf0;
}

.bg {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

textarea {
    width: 100%;
    height: 100%;
    font-size: 100%;
    padding: 20px;
    border: 0;
    outline: none;
    resize: none;
    box-sizing: border-box;
}

.re {
    position: fixed;
    top: 5%;
    right: 5%;
    border-left: 6px solid #718493;
    background-color: #e9edf0;
    padding: 10px;
    display: none;
}

button,
input {
    border: 1px solid #718493;
    background-color: #fff;
    outline: none;
}

button:hover {
    border: 1px solid #017acc;
    background-color: #cfe4fd;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #393939;
    }

    textarea {
        background: #151515;
        color: #ededed;
    }

    .re {
        border-color: #53575b;
        background-color: #393939;
    }

    button,
    input {
        border-color: #53575b;
        background-color: #151515;
        color: #ededed;
    }

    button:hover {
        border-color: #0b78fe;
        background-color: #004573;
    }
}