<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <title>{{ uid }}</title>
    <link href="assets/style.css" rel="stylesheet">
</head>

<body>
<div class="bg">
    <textarea id="con">{{ content }}</textarea>
</div>

<div class="re" id="re">
    <input id="t_a" placeholder="Find">
    <input id="t_b" placeholder="Replace">
    <button id="b_re">=</button>
</div>
</body>
<script src="assets/script.js"></script>

</html>