<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>
    <script defer src="https://yyapi.xpdbk.com/api/ian?type=js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("yy").textContent = vhIan;
        });
    </script>
</head>

<body>
<div id="a">
    <div class="t">
        <span class="t-l">文件</span>
        <label for="f" class="t-r pt">选择文件</label>
        <input type="file" class="none" id="f"/>
        <button class="m-l pt" id="b_a">保存</button>
    </div>
    <p id="yy">一言加载中...</p>
</div>
<div id="b" class="none">
    <div class="t">
        <span class="t-l">链接</span>
        <label class="t-r" id="link"></label>
    </div>
    <div class="t">
        <span class="t-l">令牌</span>
        <label class="t-r" id="token"></label>
    </div>
    <button class="pt" id="b_b">返回</button>
</div>
</body>

</html>
